.recomended-products {
  display: flex;
  justify-content: center;
  scroll-behavior: smooth;
  gap: 20px;

  .product-item {
    position: relative;

    &::after {
      position: absolute;
      display: block;
      content: "";
      width: 1px;
      height: 100%;
      background-color: $black-200;
      top: 0;
      right: 0;
    }
  }
}