.slider {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    min-width: 270px;
    max-width: 1700px;
    padding: 0 20px;
  
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0;
  
      @media screen and (min-width: 768px) {
        font-size: 28px;
        line-height: 38px;
      }
    }
  
    &__title {
      font-family: $font-base;
      font-size: 22px;
      line-height: 30px;
      font-weight: 500;
  
      @media screen and (min-width: 768px) {
        font-size: 28px;
        line-height: 38px;
      }
    }
  
    &__container {
      display: flex;
      overflow-x: scroll;
      margin: 0 auto;
      width: 100%;
      padding-bottom: 13px;
    }
  
    &__nav {
      display: none;
      align-items: center;
      justify-content: center;
      gap: 15px;
  
      @media screen and (min-width: 768px) {
        display: flex;
      }
    }
  &__arrow {
    display: flex;

    &--right {
      transform: rotate(180deg);
    }
  }
  }