.content-text {
  margin: 0 auto;

  a {
    text-decoration: none;
    color: $blue-500;
    cursor: pointer;

    @media (hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  @media screen and (min-width: 1024px) {
    max-width: 1024px;
    padding: 20px;
  }
}