$black-200: #d6d6d6;
$black-300: #8f8f8f;
$black-400: #707070;
$black-700: #4c4c4d;
$black-1000: #000000;

$blue-500: #0B55BC;

$red: #EA2323;
$white: #fff;
$gold-200: #e5e3d4;
$orange-900: #f5793b;
$green: #289833;

$font-base: Franklin Gothic Medium, Arial Narrow, Arial, sans-serif;